*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    background-color: black;
}
.con{
    max-width: 600px;
    margin: 0 auto;
}
.input, .fight{
    margin-bottom: 20px;
}
.fight{
    display: flex;
    justify-content: space-between;
}
.player{
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}
.player img{
    max-width: 100px;
    margin-bottom: 10px;
}
.mk{
    width: 100vh;
    height: 50vh;
}
button{
    padding: 10px 20px;
    background-color: lightgreen;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}
button:disabled{
    background-color: white;
}

audio{
    display: none;
}